.help-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 5%;
  text-align: center;
}

.carousel-container {
  margin: 80px 0;
  position: relative;
}

.carousel-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 80%; /* Adjust to control image size */
  height: auto;
  border-radius: 8px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.next-arrow {
  right: 10px; /* Adjusted position */
}

.prev-arrow {
  left: 10px; /* Adjusted position */
}

.help-section {
  margin-bottom: 40px;
  margin-top: 100px;
}

.carousel-description {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
}

/* Make sure the Navbar is full width */
@media (max-width: 1024px) {
  .carousel-image {
      width: 70%;
  }

  .arrow {
      width: 35px;
      height: 35px;
      font-size: 20px;
  }

  .next-arrow {
      right: 20px; /* Adjusted for medium screens */
  }

  .prev-arrow {
      left: 20px; /* Adjusted for medium screens */
  }

  .carousel-description {
      font-size: 14px;
  }
}

@media (max-width: 768px) {
  .carousel-container {
      margin: 40px 0;
  }

  .carousel-image {
      width: 100%; /* Full width on mobile */
  }

  .arrow {
      width: 30px;
      height: 30px;
      font-size: 18px;
  }

  .next-arrow {
      right: 10px; /* Adjusted for small screens */
  }

  .prev-arrow {
      left: 10px; /* Adjusted for small screens */
  }

  .carousel-description {
      font-size: 12px;
  }
}

@media (max-width: 480px) {
  .carousel-image {
      width: 100%; /* Full width on very small screens */
  }

  .arrow {
      width: 25px;
      height: 25px;
      font-size: 16px;
  }

  .carousel-description {
      font-size: 10px;
  }
}
